/* global css */

* {
    background-color: #000000;
    color: #FFFFFF;
}

/* nav bar */
.nav-side {
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    transition: 0.5s;
    width: auto;
    z-index: 1;
}

/* nav close button */
.nav-close {
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    text-decoration: none;
    top: 0;
}

/* nav bar tablet/desktop */
@media (min-width: 768px) {
    .nav-side {
        height: 100%;
        overflow-x: hidden;
        position: fixed;
        width: auto;
        z-index: 1;
    }
}

/* about styles */
.about {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside1"
        "aside2";
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.about> :nth-child(1) {
    grid-area: header;
}

.about> :nth-child(2) {
    grid-area: main;
}

.about> :nth-child(3) {
    grid-area: aside1;
}

.about> :nth-child(4) {
    grid-area: aside2;
}

/* about tablet/desktop */
@media (min-width: 768px) {
    .about {
        grid-template-areas:
            "header header header"
            "main   aside1 aside2";
        grid-template-columns: 2fr 1fr 1fr;
    }
}